<script>
	console.log('here');
</script>

<body class="backgroundImage">
<p>HGELLO WOEOREO </p>
<p>HGELLO WOEOREO </p>
<p>HGELLO WOEOREO </p>
<p>HGELLO WOEOREO </p>
<p>HGELLO WOEOREO </p>
<p>HGELLO WOEOREO </p>
<p>HGELLO WOEOREO </p>

<!-- 	<div class="photo_selectionWindow">

		<div id="selectionListSearchBar" class="selectionListSearchBar">
			<input id="selectionListSearch" class="selectionListSearch" tabindex="20" placeholder="Show title" />
			<input id="selectionListSearchSubtitle"  class="selectionListSearchSubtitle"  tabindex="30" placeholder="Episode title" />
		</div>
		<div class="searchFeedback">
			<p id="resultsCount" class="resultsCount"></p>
		</div>
		<div id="selectionlistitems" class="selectionlistitems">
			<ul></ul>
		</div>
	</div>
 --><script type="text/javascript" src="/js/photos_page.js"></script>
<script>
	Tvdb.search = Tvdb.searchFactory('show', 'getPhotos');
	Tvdb.search.init($('#content'), {'imagecount': 'true', 'movies': 'true'}, 'title');
</script>